* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: auto;
}

.button {
  padding: 10px 25px 14px;
  background-color: #28a745;
  border: none;
  border-radius: 25px;
  color: #ffffff;
  font-weight: bold;
}

.button:focus {
  outline: none;
}

.button:hover {
  opacity: 0.5;
  color: black;
}

.form {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 500px;
  height: 350px;
}

.form_id, .form_name, .form_cost, .form_quantity {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 15px 0px;
}

.form_button {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 100%;
  height: 12vh;
}

.header .wrapper {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__socials-link {
  padding: 0 15px;
}

.header__socials-link:hover {
  text-decoration: none;
  opacity: 0.6;
}

.header__socials-link .instagram-link, .header__socials-link .vk-link {
  font-size: 40px;
  color: black;
}

main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

main .wrapper .content {
  padding: 16px 8px;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  border: 2px solid black;
}

main .wrapper .content a {
  text-decoration: none;
}

main .wrapper .content a:hover {
  opacity: 0.7;
}

main .wrapper .content__table tbody tr {
  position: relative;
}

main .wrapper .content__table tbody tr td {
  height: 49px;
}

main .wrapper .content__table tbody tr .delete {
  background-image: url("../images/delete.png");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  height: 49px;
  width: 49px;
  left: 60%;
}

main .wrapper .navigation {
  min-height: 300px;
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  border: 2px solid black;
  padding: 16px 8px;
}

main .wrapper .navigation ul {
  list-style-type: none;
}

main .wrapper .navigation ul .navigation-link {
  text-decoration: none;
  color: black;
}

main .wrapper .navigation ul .navigation-link:hover {
  opacity: 0.7;
  font-weight: bold;
}

.footer {
  width: 100%;
  min-height: 100px;
}

.footer .wrapper {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .wrapper .designby a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.footer .wrapper .designby a:hover {
  opacity: 0.7;
}
/*# sourceMappingURL=style.css.map */